<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>StructV demo</title>
<link href="index/style.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <ul id="nav">
        <li :class="'nav-item ' + (index === curIndex? 'nav-item--active': '')" v-for="(item, index) in engineList" @click="navSelection(index)">{{item[1]}}</li>
    </ul>

    <div id="window">
        <ul id="out-container">
            <li 
            :class="'container ' + (index === curIndex? 'container--active': '')" 
            :id="'c' + index" 
            v-for="(item, index) in engineList"
            >
            </li>
        </ul>

        <div id="float">
            <span id="value">0, 0</span>
        </div>
        
    </div>

    <div id="editor">
        <div id="btn-group">
            <button id="run" @click="runCode">运行</button>
            <div id="editor-type">
                <div id="options-code" @click="toggleCodeType('options')" :class="'btn-type ' + (codeType === 'options'? 'btn-type--active': '')">options</div>
                <div id="sources-code" @click="toggleCodeType('sources')" :class="'btn-type ' + (codeType === 'sources'? 'btn-type--active': '')">sources</div>
            </div>
        </div>
        <div id="inner-editor"></div>
    </div>
    
</div>
<script src="index/ace/ace.js"></script>
<script src="index/ace/beautify.js"></script>
<script src="index/ace/language.js"></script>
<script src="index/ace/mode-javascript.js"></script>
<script src="index/ace/theme-xcode.js"></script>
<script src="index/vue.js"></script>
<script src="index/v.js"></script>
<script src="index/sort.js"></script>
<script src="index/sources.js"></script>
<script src="index/demo.js"></script>

</body>


</html>